* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #222;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: linear-gradient(135deg, #00feba, #5b548a);
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  width: 90%;
  max-width: 400px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.search input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  border-radius: 30px;
  flex: 1;
  margin-right: 10px;
  font-size: 18px;
}

.search button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.search button img {
  width: 16px;
}

.weather-icon {
  width: 100px;
  margin-top: 20px;
}

.weather h1 {
  font-size: 50px;
  margin-top: 10px;
}

.weather h2 {
  font-size: 30px;
  margin-top: 5px;
}

.details {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
}

.col img {
  width: 40px;
  margin-right: 10px;
}

.humidity, .wind {
  font-size: 18px;
}
.error{
  text-align: left;
  margin-left: 10px;
  font-size: 14px;
  margin-top: 10px;
}